# 用于统一代码风格
black

pyyaml>=6.0
dependency-injector>=4.41.0  # 依赖注入

# 模型处理
usd-core>=23.0  # pixar的官方库，处理usd文件

# Path Planning
shapely
ompl
toppra # path generator
casadi # for mpc

# AI and Language Processing
faster-whisper>=0.9.0  # openai的whisper语音转录模型, 输入音频, 可以输出文本
sounddevice>=0.4.6  # 提供对计算机音频硬件的访问
pyttsx3>=2.98  # 文本转语音
langchain>=0.1.0

# Scientific Computing and Data Processing
matplotlib>=3.7.0
numpy>=1.24.0,<2.0.0  # 科学计算基础
opencv-python>=4.8.0  # Computer vision and image processing
scipy>=1.10.0  # 建立在numpy上的科学计算库
Pillow>=10.0.0  # Image processing
